apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  labels:
    app: notification-service
    tier: worker
    lang: go
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
        tier: worker
        lang: go
    spec:
      containers:
      - name: notification-service
        image: notification-service:latest
        imagePullPolicy: Never
        env:
        - name: MESSAGE_BROKER
          value: "kafka"
        - name: KAFKA_BROKERS
          value: "kafka:9092"
        - name: RABBITMQ_URL
          value: "amqp://guest:guest@rabbitmq:5672/"
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"

---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
    tier: worker
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: notification-service

